In [1]:
import pandas as pd
import numpy as num
df=pd.read_excel(r"C:\Users\HP\Desktop\bank atm code\sample data for bank login code.xlsx")
df

  username  password  accnum firstname lastname  balance
0       ss      1234    1234   shubham   sharma   100000

In [2]:
df.columns

Index(['username', 'password', 'accnum', 'firstname', 'lastname', 'balance'], dtype='object')

In [3]:
dict_data={
    'username':[], 
    'password':[], 
    'accnum':[], 
    'firstname':[], 
    'lastname':[], 
    'balance':[]
}

In [4]:
dict_data = {
    'username': ['johndoe123', 'janedoe456', 'sam_smith789', 'alex_lee321', 'maria_hernandez234'],
    'password': ['password123', 'qwerty456', 'letmein789', 'admin321', 'welcome987'],
    'accnum': [1000000001, 1000000002, 1000000003, 1000000004, 1000000005],
    'firstname': ['John', 'Jane', 'Sam', 'Alex', 'Maria'],
    'lastname': ['Doe', 'Doe', 'Smith', 'Lee', 'Hernandez'],
    'balance': [1500.50, 3200.75, 800.00, 1200.30, 4500.00]
}
df=pd.DataFrame(dict_data)
df

             username     password      accnum firstname   lastname  balance
0          johndoe123  password123  1000000001      John        Doe  1500.50
1          janedoe456    qwerty456  1000000002      Jane        Doe  3200.75
2        sam_smith789   letmein789  1000000003       Sam      Smith   800.00
3         alex_lee321     admin321  1000000004      Alex        Lee  1200.30
4  maria_hernandez234   welcome987  1000000005     Maria  Hernandez  4500.00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   username   5 non-null      object
 1   password   5 non-null      object
 2   accnum     5 non-null      int64
 3   firstname  5 non-null      object
 4   lastname   5 non-null      object
 5   balance    5 non-null      float64
dtypes: float64(1), int64(1), object(4)
memory usage: 372.0+ bytes

In [6]:
fn=df['firstname'].values[0]
ln=df['lastname'].values[0]
acc=df['accnum'].values[0]
bl=df['balance'].values[0]

In [7]:
acc

1000000001

In [8]:
df[df['accnum']==1000000001][['firstname','lastname']]

  firstname lastname
0      John      Doe

In [9]:
df[df['accnum']==1000000001][['firstname','lastname']]

  firstname lastname
0      John      Doe

In [10]:
df.loc[df['accnum']==1000000001,['firstname','lastname']].values.flatten().tolist()

['John', 'Doe']

In [11]:
a=df.loc[df['accnum']==1000000001,['firstname','lastname']].values.tolist()

In [12]:
a,type(a)

([['John', 'Doe']], list)

In [13]:
a[0][0]

'John'

In [14]:
a[0][1]

'Doe'

In [15]:
a,b,c=1000000001,'johndoe123','password123'

In [16]:
if (a in df['accnum'].values) and (b in df['username'].values) and (c in df['password'].values):
    print(1)
else:
    print(0)

1

In [ ]:
class atm:
    def __init__(self,df):
        self.df=df

    def login(self):
        acc=int(input('Enter Account Number : '))
        u=input('Enter User Name : ')
        p=input('Enter Password : ')
        # Check if the account number, username, and password match the records in the dataframe
        if (acc in self.df['accnum'].values) and (u in self.df['username'].values) and (p in self.df['password'].values):
            # Fetch the first name and last name based on the account number
            a=self.df.loc[self.df['accnum']==acc,['firstname','lastname']].values.flatten().tolist()
            print(f'Welcome to ABC Bank\nHello {a[0]} {a[1]}')
            return True,acc,u,p
        else :
            print(f'ERROR!\nInvalid account number, username, or password. Please try again.')
            print('If not registered Please Register Yourself')
            return False

    def register(self):
        print('Please Provide your original details.')
        q=int(input('Do you want to Register yourself ? :\n(0 for no, 1 for yes)'))
        if q==1:
            acc=int(input('Enter Account Number : '))
            while True:
                user = input('Enter Username: ')
                if user in self.df['username'].values:
                    print('Username already taken. Please choose a different username.')
                else:
                    break
            pas= input('Enter Password : ')
            firstn= input('Enter First Name : ')
            lastn= input('Enter Last Name : ')
            bal=float(input('Enter Balance : '))
            new_user={'username':user, 'password':pas, 'accnum':acc, 'firstname':firstn, 'lastname':lastn, 'balance':bal}
            # Convert new_user dictionary to DataFrame and append it
            new_user_df = pd.DataFrame([new_user])
            # Use pd.concat to add the new user to the existing dataframe
            self.df = pd.concat([self.df, new_user_df], ignore_index=True)
            del new_user
            print('You have been successfully registered.')
        else :
            print('Exiting the Process.')
            return False
    def balance_inq(self):
        print()
    def change_password(self):
        print()
    def transfer(self):
        print()
    def cash_withdraw(self):
        print()
    def process(self):
        #print('WELCOME TO ABC BANK')
        atm.login(self)
        d={'operation':['cash withdraw',
        'balance inquiry',
        'transfer',
        'change card password',
        'new registration'],'number':[1,2,3,4,5]}
        # index can be changed accordingly
        opt=pd.DataFrame(d,index=['*','*','*','*','*'])
        print(opt)
        a=int(input('select what you want to do :'))
        if a==1:
            atm.cash_withdraw(self)
        elif a==2:
            atm.balance_inq(self)
        elif a==3:
            atm.transfer(self)
        elif a==4:
            atm.change_password(self)
        else:
            atm.register(self)

In [53]:
atm_machine=atm(df)

In [54]:
df

       username     password      accnum firstname lastname  balance
0    johndoe123  password123  1000000001      John      Doe  1500.50
1    janedoe456    qwerty456  1000000002      Jane      Doe  3200.75
2  sam_smith789   letmein789  1000000003       Sam    Smith   800.00
3   alex_lee321     admin321  1000000004      Alex      Lee  1200.30

In [55]:
atm_machine.process()

Welcome to ABC Bank
Hello John Doe
              operation  number
*         cash withdraw       1
*       balance inquiry       2
*              transfer       3
*  change card password       4
*      new registration       5